<div data-hook="admin_product_form_shipping_categories">
  <div class="form-group field" id="product_shipping_categories_field">       
    <%= f.label :inpost_size, t('inpost.admin.size_title') %>
    <%= f.text_field :inpost_size, class: 'form-control title' %>
  </div>      
</div>